body {
  margin: 0;
  font-family: Arial;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.4s;
}

/* Fundos por clima */
body.clear { background: linear-gradient(#4facfe,#00f2fe); }
body.clouds { background: linear-gradient(#757f9a,#d7dde8); }
body.rain { background: linear-gradient(#314755,#26a0da); }
body.snow { background: linear-gradient(#e6dada,#274046); }

/* Dark */
body.dark {
  background: #111;
}

#themeToggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  cursor: pointer;
}

.container {
  text-align: center;
}

.weather-card {
  background: rgba(255,255,255,0.15);
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.temperature {
  font-size: 40px;
}

/* Forecast */
.forecast {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.forecast-card {
  background: rgba(255,255,255,0.2);
  padding: 10px;
  border-radius: 10px;
  width: 80px;
}