body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-app {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search-box button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #4facfe;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.weather-result img {
  width: 80px;
}

.temperature {
  font-size: 32px;
  font-weight: bold;
}

.description {
  text-transform: capitalize;
  color: gray;
}

.container {
  text-align: center;
  color: white;
}

.weather-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.weather-card img {
  width: 80px;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.detail-box {
  background: rgba(255,255,255,0.2);
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.detail-box strong {
  display: block;
  font-size: 18px;
  margin-top: 5px;
}